.card {
  font-family: 'Inter', Arial, sans-serif;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 100%;
  height: 282px;
  cursor: pointer;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__description {
  background-color: #fff;
  color: #000;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}

.card__like-button {
  background: transparent url(../images/like-button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url("../images/like-active.svg");
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__delete-button {
  background: transparent url(../images/trash-button.svg) center no-repeat;
  width: 18px;
  height: 19px;
  border: none;
  cursor: pointer;
  position: relative;
  bottom: 345px;
  left: 248px;
}

.card__delete-button:hover {
  opacity: 0.6;
}