.header {
  margin-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84,84,84,0.7);
}

@media screen and (max-width: 1100px) {
  .header {
    width: 100%;
    max-width: 882px;
    margin: 45px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 600px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    margin: 0;
    padding-bottom: 28px;
  }
  .header__logo {
    height: 24px;
    width: 126px;
    margin: 28px 0 0 27px;
  }
}