.modal {
  position: fixed;
  background-color: rgba(0,0,0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  padding: 19px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear
}

/*Preview Image Modal*/
.preview-image-modal__container {
  position: relative;
  margin: auto;
}

.preview-image__image {
  max-height: 540px;
}

.preview-image__description {
  font-size: 12px;
  margin: 10px 0 0;
  padding: 0;
}

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  width: 430px;
  height: 330px;
}

.delete-modal__container {
  height: 181px;
}

.delete-modal__container .modal__heading {
  margin: 0;
}

.avatar-modal__container {
  height: 272px;
}

.modal__close {
  border: none;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  outline: none;
  width: 40px;
  height: 40px;
  background: url(../images/close-icon.svg) no-repeat transparent;
  cursor: pointer;
}

.modal__heading {
  font-family: 'Inter',  Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  color: #000;
  padding: 0;
  margin: 0 0 30px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  /*row-gap: 20px;*/
  margin: 35px;
}

.modal__form .modal__input {
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.2);
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 35px;
}

.modal__form .modal__button {
  width: 358px;
  height: 50px;
  margin: 26px 0 auto;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  cursor: pointer;
}

.modal__form .modal__button:hover {
  opacity: 0.8;
}

.modal__form .modal__button_disabled {
  color: #000;
  opacity: 0.2;
  border: 1px solid rgba(0,0,0, 1);
  border-radius: 2px;
  pointer-events: none;
  background-color: #fff;
}

::placeholder {
  opacity: 0.2;
}

.modal__label {
  position: relative;
  display: grid;
}

.modal__error {
  color: #ff0000;
  font-size: 12px;
}

.modal__error_visible {
  position: absolute;
  top: 35px;
  left: 0;
  padding: 0;
}

.modal__form .modal__input_type_error {
  border-bottom: 1px solid #ff0000;
}

@media screen and (max-width: 630px) {
  .modal__close {
    bottom: calc(100% + 13px);
    left: calc(100% - 30px);
  }
}

@media screen and (max-width: 480px) {
  .modal__container {
    width: 282px;
    height: 322px;
  }
  .modal__form {
    margin: 25px 22px 0;
  }
  .modal__form .modal__button {
    width: 238px;
    font-size: 14px;
  }
  .modal__heading {
    margin: 0 0 40px;
  }
  .preview-image__image {
    max-width: 240px;
  }
  .modal__close_type_preview {
    width: 30px;
    height: 30px;
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
    background-size: contain;
  }
  .modal__error {
    font-size: 11px;
  }
}